/* insert custom global style */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'InterMedium', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2f3a51;
  font-size: 16px;
}

input {
  font-family: 'InterMedium' !important;
}

.ant-typography-info {
  color: #f50;
}

.ant-btn.ant-btn-secondary {
  background: lightgrey;

  &[disabled] {
    background: inherit;
  }
}

.ant-table {
  color: #42555e;
}

.ant-form-item-has-error {
  .ck-content {
    border-color: #ff4d4f !important;
  }
}
