.wyswyg-editor {
  font-size: 1rem;

  .ck.ck-toolbar,
  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border-color: #d9d9d9;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  h1 {
    font-size: 32px;
    font-weight: 800;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
  }

  .ck-editor__editable {
    min-height: 300px !important;
  }

  img {
    width: 100%;
  }
}
