.wyswyg-editor {
  font-size: 1rem;

  .ck.ck-toolbar,
  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border-color: #d9d9d9;
  }

  .ck.ck-icon,
  .ck.ck-icon * {
    color: darkgray;
  }

  ul,
  ol {
    padding-left: 20px;
  }

  h1 {
    font-size: 32px;
    font-weight: 800;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
  }

  img {
    width: 100%;
  }
}

.ck-general-mode {
  .ck-editor__editable {
    min-height: 300px !important;
  }
}

.ck-simple-mode {
  margin-top: -37px;

  .ck-editor__editable {
    min-height: 50px !important;
  }

  .ck.ck-toolbar {
    background: transparent;
    border: 0;

    .ck.ck-toolbar__items {
      justify-content: flex-end;

      button {
        background-color: antiquewhite;

        &:hover {
          background-color: gainsboro;
        }
      }
    }
  }
}
