.portal-layout.ant-layout {
  height: 100vh;

  .portal-header {
    padding: 0 1rem;
    text-align: right;

    .ant-dropdown-trigger {
      color: white;
    }
  }

  .portal-content {
    // background-color: #16181D;
  }
}
